<h1>Our Books</h1>
<section class="row">
    <section class="col-lg-6">
        <ul class="list-group">
            @for (book of BOOKS; track book._id) {
            <li class="list-group-item">
                    {{ book.title }} <button (click)="onSelect(book)">Select</button>
                </li>
            }
        </ul>
    </section>
    <section class="col-lg-6">
        <section>
            <h1>Book Details</h1>
            <form>
                <fieldset class="form-group p-2">
                    <label for="title" class="control-label p-2">title:</label>
                    <input id="title" name="title" [(ngModel)]="book.title" />
                </fieldset>
                <fieldset class="form-group p-2">
                    <label for="year" class="control-label p-2">year:</label>
                    <input id="year" name="year" [(ngModel)]="book.year" />
                </fieldset>
                <button (click)="saveBook(book)" class="btn btn-info p-2">Save</button>
                <button (click)="clearForm()" class="btn btn-info p-2">Reset</button>
            </form>
        </section>
    </section>
</section>



